<form method="post" action="{{ path('classe_delete', {'ref': classe.ref}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classe.ref) }}">
    <button class="btn btn-danger">supprimer</button>
</form>
