

{% block title %}<div style="text-align: center;"><h1>Club Esprit</h1></div>{% endblock %}

<h6>elum epsulem</h6>
<center><img src="{{ asset ('untitled.png') }}"  height="600" width="1100"  alt=""/></center>
